.card {
  display: flex;
  flex-direction: column;
  height: auto;
  align-items: flex-start;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 8px;
  background: linear-gradient(135deg, #a1b2b2, #4e7070);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  position: relative;
  padding: 10px;
}

.infoContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

.textContainer {
  flex: 1;
  width: 90%;
  height: auto;
}

.buttonsContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 10px;
  position: relative;
  bottom: 5px;
  right: 5px;
  flex-wrap: wrap;
}

.button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button:hover {
  opacity: 0.7;
}

.editableInput,
.editableTextarea {
  width: 100%;
  min-height: 25px;
  padding: 4px;
  font-size: 16px;
  font-family: inherit;
  color: #333;
  background: rgba(255, 255, 255, 0.8);
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  margin-bottom: 5px;
  transition: all 0.3s ease;
}

.editableInput:focus,
.editableTextarea:focus {
  border-color: #4e7070;
  background: #fff;
  box-shadow: 0 0 5px rgba(78, 112, 112, 0.5);
}

.taskText {
  min-height: 35px;
  display: flex;
  align-items: center;
}

.statusButtons {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.statusButtons button {
  height: 25px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.statusButtons button:hover {
  background-color: #ddd;
}

@media (max-width: 768px) {
  .card {
    padding: 15px;
  }

  .buttonsContainer {
    gap: 15px;
    flex-direction: column;
    align-items: flex-start;
  }

  .statusButtons {
    flex-direction: column;
    align-items: flex-start;
  }

  .statusButtons button {
    margin-bottom: 5px;
  }

  .textContainer h4 {
    font-size: 18px;
    margin-bottom: 5px;
  }

  .textContainer p {
    font-size: 14px;
  }
}
